<h1>Listing decisions</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Group</th>
      <th>Project</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @decisions.each do |decision| %>
      <tr>
        <td><%= decision.name %></td>
        <td><%= decision.group_id %></td>
        <td><%= decision.project_id %></td>
        <td><%= link_to 'Show', decision %></td>
        <td><%= link_to 'Edit', edit_decision_path(decision) %></td>
        <td><%= link_to 'Destroy', decision, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Decision', new_decision_path %>
