<h1>Listing versions</h1>

<table>
  <thead>
    <tr>
      <th>Number</th>
      <th>State</th>
      <th>Problem</th>
      <th>Description</th>
      <th>Arguments</th>
      <th>Iteration</th>
      <th>Decision</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @versions.each do |version| %>
      <tr>
        <td><%= version.number %></td>
        <td><%= version.state %></td>
        <td><%= version.problem %></td>
        <td><%= version.description %></td>
        <td><%= version.arguments %></td>
        <td><%= version.iteration_id %></td>
        <td><%= version.decision_id %></td>
        <td><%= link_to 'Show', version %></td>
        <td><%= link_to 'Edit', edit_version_path(version) %></td>
        <td><%= link_to 'Destroy', version, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Version', new_version_path %>
